.info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.value {
  box-sizing: border-box;
  padding: 10px;
  width: 33%;
  flex: 1 1 auto;
}

.info:nth-child(2n) {
  background-color: #f0f0f0;
}

.info:hover {
  background-color: #e9f3a4;
  cursor: pointer;
}

button{
  padding: 5px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover{
  background-color: #d32f2f;
}
