:host{
    background-color: rgb(224, 224, 223);
    border: 1px solid rgb(224, 224, 223);
    border-radius: 8px;
    padding: 20px;

    input{
       margin-bottom: 10px;
       border: 1px solid rgb(224, 224, 223);
       border-radius:  4px;
       padding: 8px; 
       width: 100%;
       line-height: 14px;
       font-family: Verdana;
       font-size: 12px;
    }

}